<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>Teca Crit Calculator</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="header clearfix">         
            <h3>Tera Crit Calculator</h3>
        </header>
        <hr class="my-4">        
    </div>  
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-5">
                <form id="ajax-form" action="calculate_process" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4 col-form-label-sm">Race:</label>
                        <select class="data form-control form-control-sm col-md-6" name="race" id="race">
                            <option value="0">Other races</option>
                            <option value="0.01">Castanic</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4 col-form-label-sm">Hit Direction:</label>
                        <select class="data form-control form-control-sm col-md-6" name="direction">
                            <option value="1.6">Back</option>
                            <option value="1.2">Side</option>
                            <option value="1">Front</option>
                        </select>  
                    </div> 
                    <div class="form-group row">                                             
                        <label class="col-form-label col-sm-4 col-form-label-sm">Class:</label>
                        <select class="data form-control form-control-sm col-md-6" id= "class-id" name="class" onchange="get_class_skills();">
                            {% for class in classes %}
                                <option value="{{class.id}}">{{class.name}}</option>
                            {% endfor %}
                        </select>             
                    </div>
                    <div id="class-skil-generator"></div>
                    <div class="form-group row">                                         
                        <label class="col-form-label col-sm-4 col-form-label-sm">Bosses/Dungeon:</label>
                        <select class="data form-control form-control-sm col-md-6" name="boss">
                            {% for boss in bosses %}
                            <option value="{{boss.id}}">{{boss.name}}</option>
                            {% endfor %}
                        </select>                        
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4 col-form-label-sm">+Crit Factor:</label>
                        <input type="text" class="data form-control form-control-sm col-md-6" name="bonus_cf" value="250">
                    </div>
                    <div class="form-check">
                        <input class="ml-4 form-check-input data" type="checkbox" value="2.2" name="aura">
                        <label class="ml-4 form-check-label">Mystic Aura</label>
                    </div>
                    <div class="form-check">
                            <input class="ml-4 form-check-input data" type="checkbox" value="20" name="food">
                            <label class="ml-4 form-check-label">Bulgogi</label>
                        </div>                    
                    <div class="form-group row">                                         
                        <label class="col-form-label col-sm-4 col-form-label-sm">Carving Crystal:</label>
                        <select class="data form-control form-control-sm col-md-6" name="crystal">
                            <option value="0">None</option>
                            <option value="0.032">Carving Niveot</option>
                            <option value="0.033">Dyad Carving Niveot</option>
                        </select>                        
                    </div>                                                                                    
                </form> 
            </div>
            <div class="col-sm-5 row justify-content-center" >
                <div class="row">                    
                </div>
                <div id="ajax-form-crit-generate">
                        <p>YOU DON'T CRIT</p>  
                </div>                             
            </div>
        </div>   
    </div>                  

    <div class="container mt-5">
        <div class="row mt-2">
            <div class="col border border-dark">
                <img src="https://i.imgur.com/nUkRLs4.png" class ="img-fluid">
            </div>
            <div class="col border border-dark">
                <img src="https://i.imgur.com/Jy36pCh.png" class ="img-fluid">
            </div>            
        </div>
        <div class="row mt-2">
            <div class="col border border-dark">
                <img src="https://i.imgur.com/2z3I1Qe.png" class ="img-fluid">
            </div>
            <div class="col border border-dark">
                <img src="https://i.imgur.com/ZW9LiBv.png" class ="img-fluid">
            </div>  
            <div class="col border border-dark">
                <img src="https://i.imgur.com/FkceyKh.png" class ="img-fluid">
            </div>                        
        </div>        
    </div>

    <script text="text/javascript">csrf_token = "{{ csrf_token }}";</script>
    <script src="{% static 'critcalculator/script.js' %}"></script>    
</body>
</html>